*{
   margin: 0;
}

.contenedor{  
 background: pink;
 width: 100w;
 height: 100vh;
 text-align: center;
}

p{
    font-size: xx-large;
    padding: 15%;
} 

button{ 
    font-size: xx-large;
    padding: 0.75em;
}

#YesBtn{
    transform: translate(-100%,0);
}

#NoBtn{
    position: absolute;
}